In [60]:
import numpy as np
import pandas as pd
import  sklearn as sk

In [61]:
df1=pd.read_csv("https://raw.githubusercontent.com/Shreyas3108/Titanic-EDA-and-Survival-prediction/master/train.csv")
df2=pd.read_csv("https://raw.githubusercontent.com/Shreyas3108/Titanic-EDA-and-Survival-prediction/master/test.csv")

In [62]:
# 1)

data=pd.concat([df1,df2])
data.head()

C:\Users\dell\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450

In [63]:
# 2)
data.Survived=data.Survived.dropna()

In [64]:
# 3)
data['Has_Cabin']=data['Cabin'].notna()

In [65]:
# 4)
l1=[]
for i in data.Name:
    l,a=list(str(i).split(','))
    b=list(a.split("."))
    l1.append(b[0])
data['Title']=l1

#print(data.Title)

In [66]:

# 5)
data['Embarked']=data['Embarked'].fillna('Q')

data['Cabin']=data['Cabin'].fillna(value='C132')
ag=data['Age'].mean()
data['Age']=data['Age'].fillna(ag)
far=data['Fare'].mean()
data['Fare']=data['Fare'].fillna(far)

data.isnull().sum() #gives the sum of missing values i.e 0

Age            0
Cabin          0
Embarked       0
Fare           0
Name           0
Parch          0
PassengerId    0
Pclass         0
Sex            0
SibSp          0
Survived       0
Ticket         0
Has_Cabin      0
Title          0
dtype: int64

In [67]:
# 6)
data['Categorical_age']=pd.qcut(data.Age,4,labels=False)
data['Categorical_fare']=pd.qcut(data.Fare,4,labels=False)

In [68]:
# 7)
data=data.drop(columns=['Cabin','Name','PassengerId','Ticket','Age','Fare','SibSp','Parch'])

In [82]:
# 8)
data=pd.get_dummies(data)
data.columns

Index(['Pclass', 'Survived', 'Has_Cabin', 'Categorical_age',
       'Categorical_fare', 'Embarked_C', 'Embarked_Q', 'Embarked_S',
       'Sex_female', 'Sex_male', 'Title_ Capt', 'Title_ Col', 'Title_ Don',
       'Title_ Dona', 'Title_ Dr', 'Title_ Jonkheer', 'Title_ Lady',
       'Title_ Major', 'Title_ Master', 'Title_ Miss', 'Title_ Mlle',
       'Title_ Mme', 'Title_ Mr', 'Title_ Mrs', 'Title_ Ms', 'Title_ Rev',
       'Title_ Sir', 'Title_ the Countess'],
      dtype='object')

In [92]:
# 9)

x=data[['Pclass', 'Has_Cabin', 'Categorical_age',
       'Categorical_fare', 'Embarked_C', 'Embarked_Q', 'Embarked_S',
       'Sex_female', 'Sex_male', 'Title_ Capt', 'Title_ Col', 'Title_ Don',
       'Title_ Dona', 'Title_ Dr', 'Title_ Jonkheer', 'Title_ Lady',
       'Title_ Major', 'Title_ Master', 'Title_ Miss', 'Title_ Mlle',
       'Title_ Mme', 'Title_ Mr', 'Title_ Mrs', 'Title_ Ms', 'Title_ Rev',
       'Title_ Sir', 'Title_ the Countess']]
y=data['Survived']

In [93]:
# 10)
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.15,random_state=0)

In [94]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(x_train,y_train)

C:\Users\dell\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [95]:
prediction=lr.predict(x_test)

In [96]:
# 11)
lr.score(x_test,y_test)

0.7309644670050761